<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2><a href="#signin" class="underlineHover">Sign In</a></h2>
        <h2><a class="underlineHover" href="#" id="signup-link">Sign Up</a></h2>
        
        <!-- Icon -->
        <!-- Login Form -->
        <form method="post" action="@Url.Action("Login", "Users")">
            @Html.AntiForgeryToken()
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="Password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Register Form -->
        <form method="post" action="@Url.Action("Register", "Users")" id="signup-form" style="display: none;">
            @Html.AntiForgeryToken()
            <input type="text" id="signup-login" class="fadeIn second" name="login" placeholder="Login">
            <input type="text" id="signup-email" class="fadeIn third" name="email" placeholder="Email">
            <input type="text" id="signup-password" class="fadeIn fourth" name="password" placeholder="Password">
            <input type="submit" class="fadeIn fifth" value="Register"/input>
        </form>

        <!-- Switch to Register Form -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    </div>
</div>

<script>
    // Show/Hide Register Form
    var signupForm = document.getElementById("signup-form");
    var signupLink = document.getElementById("signup-link");

    signupLink.addEventListener("click", function (e) {
        e.preventDefault();
        signupForm.style.display = "block";
        document.querySelector("#formContent form:first-of-type").style.display = "none";
    });
</script>
